<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="app.css">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header>
			<nav class="nav-bar">
				{% if app.user %}
					<a href="{{ path('app_logout') }}" class="lien">Déconnexion</a>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('app_admin_article_index') }}" class="lien">Gestion des articles</a>
						<a href="{{ path('app_home') }}" class="lien">Accueil</a>
						<a href="{{ path('app_api') }}" class="lien">API articles</a>
						<a href="{{ path('app_mentions_legales') }}" class="lien">Mentions légales</a>
						<a href="{{ path('app_contact') }}" class="lien">Contact</a>
					{% endif %}

				{% else %}
					<a href="{{ path('app_register') }}" class="lien">Inscription</a>
					<a href="{{ path('app_home') }}" class="lien">Accueil</a>
					<a href="{{ path('app_api') }}" class="lien">API articles</a>
					<a href="{{ path('app_mentions_legales') }}" class="lien">Mentions légales</a>
					<a href="{{ path('app_contact') }}" class="lien">Contact</a>
					<a href="{{ path('app_login') }}" class="lien">Connexion</a>
				{% endif %}
			</nav>
		</header>
		<div class="wrapper"> {% block body %}{% endblock %}
			</div>
			<footer>
				<div class="footer-content">
					<p>&copy; 2024 Tous droits réservés.</p>
				</div>
			</footer>
		</body>
	</html>
